@{
    ViewData["Title"] = "Home sdsdsd";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Webjhjh apps with ASP.NET sadsadsadsaCore</a>.</p>
</div>
