@model AddAuthorModel
@{
}
<h1>Thêm tác giả</h1>

    <div>
        <label>Ten</label>
        <input id="ten-input" />
    </div>
    <div>
        <label>Que</label>
        <input id="que-input" />
    </div>
    <button id="save-btn" type="submit">Submit</button>
@if (Model != null && !string.IsNullOrWhiteSpace(Model.ThongBao))
{
    <p style="color:red">@Model.ThongBao</p>
}

<style>
    .input-element{
        --background-color: red
    }
</style>
<script>
    document.getElementById('save-btn').onclick = function () {
        let name = document.getElementById('ten-input').value;
        let country = document.getElementById('que-input').value;
        
        fetch('https://localhost:7160/Author/PostAddAuthor', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ ten: name, queQuan: country, thongBao: '' })
        })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);
            alert('Form submitted successfully!');
        })
        .catch(error => {
            console.error('Error:', error);
            alert('An error occurred while submitting the form.');
        });
    };
</script>
